---
import { t } from "i18next";
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-blue lg:text-4xl">{t("about.title")}</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-blue"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-3">
			<span class="text-blue text-xl font-bold">{t("about.hi")}</span>{t("about.first_paragraph")}
		</p>
		<p class="mb-3">
			{t("about.second_paragraph")}
		</p>
		<p class="mb-3">
			{t("about.third_paragraph")}
		</p>
	</div>
</section>
