---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-blue lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-blue"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-3">
			<span class="text-blue text-xl font-bold">Hi, I'm Giovanne</span>, a full-stack web developer from Brazil. As a dedicated and skilled software engineer with over 6 years of experience in designing, developing, and maintaining software solutions, I am passionate about leveraging my expertise to drive innovation and contribute to the success of dynamic projects.
		</p>
		<p class="mb-3">
			I love to study and learn new technologies. While I have some preferred tools, I'm always willing to choose the most suitable ones for each project.
		</p>
		<p class="mb-3">
			Beyond coding, you can find me organizing my next trip, watching a good movie, discovering a new restaurant or at the gym. I value a work-life balance that nurtures creativity and personal growth.
		</p>
	</div>
</section>
