---
import TimeLineElement from '@components/ui/TimeLine.astro';
import { t } from "i18next";
import { Trans } from "astro-i18next/components";
---

<section
	data-testid="experience"
	id="experience"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
	<h2 class="font-monospace text-2xl text-blue lg:text-4xl">{t("experience.title")}</h2>
	<span class="mb-10 h-1 w-10 bg-blue"></span>

	<div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title={t("experience.ctcea.full_stack.title")}
      subtitle="Setember 2016 - Today"
    >
      <Trans i18nKey="experience.ctcea.full_stack.first_paragraph">
        <p><span class="font-bold underline">CTCEA</span>, accredited by the Ministry of Defense as a Strategic Defense Company (EED), is a private, non-profit institution whose purpose is to carry out studies, research and development of alternative technologies, through direct elaboration and execution of projects and programs, and research and teaching plans, technical assistance to public bodies and private and community entities.</p>
      </Trans>
      <p>{t("experience.ctcea.full_stack.second_paragraph")}</p>
      <p class="mt-5">
        {t("experience.technologies")}: Nodejs, Typescript, JavaScript, Nextjs, React, Tailwind, Bootstrap, PHP, Git, SQL Server, MySQL, MongoDB
      </p>
    </TimeLineElement>
    <TimeLineElement
      title={t("experience.ctcea.intern.title")}
      subtitle={t("experience.ctcea.intern.subtitle")}
    >
      <p>
        {t("experience.ctcea.intern.first_paragraph")}
      </p>
      <p class="mt-5">
        {t("experience.technologies")}: WordPress, ColdFusion, HTML, CSS, MariaDB
      </p>
    </TimeLineElement>
    <TimeLineElement
      title={t("experience.ibge.intern.title")}
      subtitle={t("experience.ibge.intern.subtitle")}
    >
      <Trans i18nKey="experience.ibge.intern.first_paragraph">
        <p><a href="https://www.ibge.gov.br/" target="_blank" class="font-bold underline">IBGE</a> (Brazilian Institute of Geography and Statistics), is a public institute of Brazilian federal administration, being the main provider of data and information in the country, which meets the needs of the most diverse segments of civil society, as well as bodies at the federal, state and municipal.</p>
      </Trans>
        <p>
          {t("experience.ibge.intern.second_paragraph")}
        </p>
      <p class="mt-5">
        {t("experience.technologies")}: JavaScript, ASP, C#, MySQL
      </p>
    </TimeLineElement>
  </div>
	
</section>
