---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import ToggleLanguage from './ui/ToggleLanguage.astro';
import i18next, { t } from "i18next";

const menuitems = [
	{
		title: t("navbar.about"),
		path: '#about',
	},
	{
		title: t("navbar.experience"),
		path: '#experience',
	},
	{
		title: t("navbar.projects"),
		path: '#projects',
	},
	{
		title: t("navbar.contact"),
		path: '#contact',
	},
];
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-between lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<a href={t("link.download")} target="_blank"><Button size={'sm'} name="Download CV">{t("button.download")}</Button></a>
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		
		<MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="flex py-2 text-black hover:text-blue dark:text-white dark:hover:text-blue lg:px-3"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<li><ToggleTheme /></li>
				<li><ToggleLanguage /></li>
			</ul>
		</MenuItems>
		
	</Astronav>
</header>
