---
import brazilFlag from '@assets/images/brazil_flag.png';
import usaFlag from '@assets/images/usa_flag.png';
import { Image } from '@astrojs/image/components';
---

<div class="flex pt-2 lg:px-3 gap-3">
    <a href="/">
      <div class="flex items-center justify-center rounded-full overflow-hidden">
        <Image
          src={usaFlag}
          alt="usaFlag"
          aspectRatio="1:1"
          format="png"
          width={25}
          height={25}
          loading="eager"
        />
      </div>
    </a>
    <a href="/br">
      <div class="flex items-center justify-center rounded-full overflow-hidden">
        <Image
          src={brazilFlag}
          alt="brazilFlag"
          aspectRatio="1:1"
          format="png"
          width={25}
          height={25}
          loading="eager"
        />
      </div>
    </a>
</div>
